.txt-login {
	width: 100%;
    margin-bottom: 1.4rem;
    padding: 1rem;
    background-color: #ecf2f4;
    border-radius: 0.2rem;
    border: none;
    height: 5rem;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.btn {
	border-radius: 0.2rem;
}
.btn .glyphicon {
    color: #fff;
}
.full-width {
	background-color: #4585d0;
	width: 100%;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.login-header {
    margin: 30px 0;
}
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}
.detail-wrapper {
    padding: 10px 35px;
}
.filter-wrapper {
    margin: 30px 0;
    text-align: center;
}
.filter-block {
    display: inline-block;
    margin-left: 30px;
}
.sort-btn-cus {
    margin-bottom: 7px;
    cursor: pointer;
}
.txt-header {
    margin: 0 auto;
    font-size: 18px;    
}
.txt-info {
    margin-right: 20px;
    font-size: 18px;    
}
.txt-label {
    margin-right: 10px;
}
.txt-field {
    width: 49%;
    display: inline-block;
}
.pager li>a {
    background-color: #424242;
    border: none;
}
.pager .disabled>a, .pager .disabled>a:hover {
    background-color: transparent;
    color: #777 !important;
}
.datatable-header-cell {
    text-align: center;
}
.datatable-body-cell-label {
    padding: 0 30px;
}
.sort-btn {
    display: none;
}
.table-footer-overlay {
    width: 100%;
    height: 50px;
    bottom: 0;
    background: transparent;
    position: absolute;
}
.table-footer-spinner {
    right: 310px;
    position: absolute;
    top: 17px;
    font-size: 16px;
}
.txt-page-count {
    padding: 5px 10px;
}
.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@media screen and (max-width: 800px) {
    .reader-table {
        width: 100%;
    }
    .desktop-hidden {
        display: inline-block;
        width: 90%;
    }
    .mobile-hidden {
        display: none;
        width: 0;
    }
}
@media screen and (min-width: 800px) {
    .desktop-hidden {
        display: none;
        width: 0;
    }
    .mobile-hidden {
        display: inline-block;
        width: 90%;
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}